/* General */
#body {
  background: #8f8f8f;
  color: white;
  display: flex;
  flex-direction: row;
  font: 100%/1.6 "Trebuchet MS", Helvetica, sans-serif;
  margin: auto;
  padding: 5%;
}

.content-left {
  flex: 1 1 50%;
  text-align: center;
  max-width: 800px;
  padding: 10px;
}

.content-right {
  align-items: center;
  border-left-style: solid;
  flex: 1 1 50%;
  margin: auto auto auto 10px;
  padding: 35px;
  text-align: center;
  max-width: 800px;
}

#intro {
    padding: 10px;
}


/* Dropdowns */

.dropdown-item {
  border: 1px solid;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 5px 0 5px 0;
}

.dropdown {
  align-content: left;
  display: flex;
  height: 55px;
  margin: 0;
  padding: 0;
}

.plus {
  font-size: 45px;
  line-height: 1;
  transition: font-size .1s, transform .5s;
  vertical-align: middle;
  width: 80px;

}

.plus:hover {
  font-size: 55px;
}

.plus.clicked {
  transform: rotate(135deg);
}

.dropdown-title {
  font-size: 30px;
  height: 45px;
  object-fit: contain;
  width: 90%;
}

.dropdown-text {
    display: block;
    height: 0;
    margin-left: 80px;
    overflow: hidden;
    transition: .5s ease;
}

.dropdown-text-content {
    margin: 0 10% 0 10%;
}

#greeting-container {
  margin: 10px auto 20px 65px;
}

/* Pictures */

#img-container {
  display: flex;
  align-items: flex-start;
  flex-flow: row wrap;
}

.gallery-link {
  flex: 1 1 auto;
  margin: 5px;
  width: 40%;
}

.gallery {
  width: 100%;
  object-fit: contain;
}

#pfp {
  border-radius: 15%;
  max-width: 50%;
  object-fit: contain;
}

/* Projects */

ul {
  text-align: left;
}

.list-title {
  font-weight: bold;
}
