.body {
  background: #8f8f8f;
  color: white;
  font: 100%/1.6 "Trebuchet MS", Helvetica, sans-serif;
  margin: auto;
  padding: 5% 10% 5% 10%;
}

.content {
  text-align: center;
  max-width: 800px;
}

.text-left {
  text-align: left;
}

.list-title {
  font-weight: bold;
}

.dropdown-item {
  border: 1px solid;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 5px 0 5px 0;
}

.dropdown {
  align-content: left;
  display: flex;
  height: 55px;
  margin: 0;
  padding: 0;
}

.plus {
  font-size: 45px;
  line-height: 1;
  transition: font-size .1s, transform .5s;
  vertical-align: middle;
  width: 80px;

}

.plus:hover {
  font-size: 55px;
}

.plus.clicked {
  transform: rotate(135deg);
}

.dropdown-title {
  font-size: 30px;
  height: 45px;
  object-fit: contain;
  width: 90%;
}

.dropdown-text {
    display: block;
    height: 0;
    margin-left: 80px;
    overflow: hidden;
    transition: .5s ease;
}

.dropdown-text-content {
    margin: 0 10% 0 10%;
}

#greeting-container {
  margin-top: 20px;
}

img {
  height: 300px;
  object-fit: contain;
  width: 300px;
}

ul {
    text-align: left;
}